/**** Set global box size and padding ****/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/**** Variables for colors ****/
:root {
    --title-text-color: #fff073; 
    --hero-text-color:  #673b56;
    --main-bg-color: #673b56;
    --2nd-bg-color: #fc7d52;
    --main-border-color: #fc7d52;;
    --2nd-border-color: #fff073;
    --blueish: #2a607c;
    --whiteish: #ffffff;
    --blue2: #0072bb;
    --blue3: #2589bd; 
  }

body {
    background-color: var(--main-bg-color);
}

h2 {
    letter-spacing: 2px;
    font-family: 'Comic Sans MT','Brush Script MT',  Calibri, 'Trebuchet MS', sans-serif;
}

p {
    color:lightgoldenrodyellow;
}
/**** Header styles ****/
.header {
    padding-top: 4px;
    padding-bottom: 9px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--title-text-color);
}

.header div {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header h1 {
    padding-left: 40px;
    padding-right: 10px;
    display: inline-block;
    letter-spacing: 2px;
    background-color: var(--2nd-bg-color);
    font-family: 'Comic Sans MT','Brush Script MT',  Calibri, 'Trebuchet MS', sans-serif;
}

.header div ul {
    margin-top: 10px;
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    margin-left: 3px;
    padding-right: 6px;
    padding-left: 6px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
    border-color: var(--main-border-color);
}

.my-links div {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: orange;
}

.my-links div ul {
    margin-top: 10px;
    list-style-type: none;
}

.my-links div ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    margin-left: 3px;
    padding-right: 6px;
    padding-left: 6px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
    border-color: var(--main-border-color);
}


/*** Anchors and Paragraphs ****/
a {
    color: #fff073;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*** HERO!!!!! ***/
.hero {
    width: 100%;
    height: 200px;
    margin-bottom: 25px;
    background-image: url("../images/sunrise-h200.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    align-items: center;
    
}

.hero #sub-title {
    color: var(--hero-text-color);
    padding-bottom: 10px;
    padding-right: 10px;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}

.hero img {
    /*position: relative;
    top: 50px;*/
    /*float: right;*/
    height: 100px;
    border-radius: 50%;
}

.main-body{
    display: flex;
    flex-wrap: wrap;
}

 .page-row{
    display: flex;
    margin-bottom: 10px;
 } 

.section-title {
    
    /* flex-grow: 0; */
    color: var(--title-text-color);
    width:10%;
    border-right: var(--main-border-color);
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-width: 3px;
    border-style: none solid none none;
    text-align: right;
    padding-right: 10px ;
    font-size: 20px;
}

.content-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    /* border-width: 3px;
    border-style: solid; */
}

.primary-example {    
    /* display: block;  */
    /* display: inline-flexbox; */
    /* border-style: solid;
    border-color: orange;
    border-width: 1px; */
    width: 100%;
}

.example-title-box {  
    /* float: left; */
    display: inline-flexbox;
    background-color: var(--2nd-bg-color);
    width: 200px;
    position:relative; 
    top: -50px;
    padding-left: 10px;
}

.more-work {
    width: 100%;
    display: flex;
    flex-wrap: wrap;  
    /* border-width: 1px;
    border-style: dashed;
    border-color: white; */
    
}

.additional-example {    
    width: 50%; 
    border-style: solid;
    border-width: 1px;
    border-color: orange;
}
/* 

/**** Classes for floating objects left or right; used to create an alternating flow****/
/* .float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
} */

/***main content section***/
/* .content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--blue2);
    color: var(--whiteish);
}

.content img {
    max-height: 200px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
 */
/***benefits section***/
/* .benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--blue3);
}

.benefits div {
    margin-bottom: 32px;
    color: var(--whiteish);
}

.benefits div h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits div img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} */

/***Footer Styles***/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
